<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.AudioRecorder" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Plugin.MediaManager" version="1.1.0" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.4" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.ios" version="2.0.4" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.internal" version="2.0.4" targetFramework="xamarinios10" />
  <package id="Splat" version="11.1.1" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="akavache" version="7.2.1" targetFramework="xamarinios10" />
  <package id="akavache.core" version="7.2.1" targetFramework="xamarinios10" />
  <package id="akavache.sqlite3" version="7.2.1" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.3" targetFramework="xamarinios10" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="5.0.0" targetFramework="xamarinios10" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.7.0" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2337" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="5.0.0" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="Fabulous" version="1.1.0" />
  <package id="Fabulous.LiveUpdate" version="1.1.0" />
  <package id="Fabulous.XamarinForms" version="1.1.0" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="1.1.0" />
</packages>